.top-row {
  color: white;
  background-color: $background-color1;
  border-bottom: $background-border1;
  padding: 10px 20px;
  font-size: 40px;
  font-family: 'Montserrat', sans-serif;
  overflow: auto;
  height: $toprow-height;
  
  @include respond-to(wide-screens) {
    display: none;
  }

  .page_name {
    float: left;
  }
  
  .menu {
    .menu_open {
      @extend .fa;
      @extend .fa-align-justify;
      float: right;
      line-height: 56px;
      cursor: hand;
      
      &.menu_close {
        @extend .fa-close;
      }
    } 
  }
} 

.footer {
  min-height: 100px;
  padding: 50px 10px;
  background-color: $background-color1;
  border-top: $background-border1;
  color: white;
  text-align: center;
  

  @include respond-to(wide-screens) {
    margin-left: $sidebar-width;
  }
}