body, html {
  height: 100%;
}

body > div {
  height: 100%;
}

.footer {
  min-height: 100px;
  padding: 50px 10px;
  background-color: $background-color1;
  border-top: $background-border1;
  color: white;
  text-align: center;
  margin-top: -1 * $footer_height;
  height: $footer_height;
  position: relative;

  @include respond-to(wide-screens) {
    margin-left: $sidebar-width;
  }
}

.title {
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 10px;
}