$background-color1: hsl(199, 60%, 27%);
$background-border1: 1px solid hsla(199,59%,21%,1);

$background-color2: hsl(194, 75%, 35%);
$background-border2: 1px solid hsla(194,75%,27%,1);

$toprow-height: 80px;
$sidebar-width: 430px;

$footer_height: 250px;