$input_area_width: $sidebar-width - 30px;

.sidebar {
  overflow-y: auto;
  color: white;
  float: left;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;


  @include respond-to(max-medium-screens) {
    width: 100%;
    
    &.menu_open {
      height: 100%;
      display: block;
    }
  }
   
  @include respond-to(wide-screens) {
    height: 100%;
    width: $sidebar-width;
    background-color: hsl(194, 75%, 35%);
    border-right: 1px solid hsla(194,75%,27%,1);
    
    &.table_visible {
      width: $input_area_width * 2 + 30px;
    }
  }

  .top_row {
    color: white;
    background-color: $background-color1;
    border-bottom: $background-border1;
    padding: 10px 20px;
    font-size: 40px;
    font-family: 'Montserrat', sans-serif;
    overflow: auto;
    height: $toprow-height;
    z-index: 10;

    @include respond-to(wide-screens) {
      display: block;
    }

    .page_name {
      float: left;
    }

    .menu {
      .menu_open {
        @extend .fa;
        @extend .fa-align-justify;
        float: right;
        line-height: 56px;
        cursor: hand;

        &.menu_close {
          @extend .fa-close;
        }
      }
    }
  }

  .bottom_area {
    z-index: 10;
    background-color: hsl(194, 75%, 35%);
    border-right: 1px solid hsla(194,75%,27%,1);
    overflow: auto;
    
    @include respond-to(max-medium-screens) {
      display: none;
      &.menu_open {
        display: block;
      }
    }
    
  }
  
  .inputs {
    padding: 40px 15px 15px;
    max-width: $input_area_width;
    float: left;

    @include respond-to(max-medium-screens) {
      &.table_visible {
        display: none;
      }
    }

    .inputs_area {
      overflow: auto;

      .inputs_input {
        margin-bottom: 10px;

        button {
          float: right;
          font-size: 17px;
          
          .add_series {
            background: hsl(141, 75%, 35%);
          }
          
          &.hide_view {
            float: left;
          }
        }
      }
      
      .datatree {
        .entry {
          cursor: hand;
          padding-bottom: 10px;
          
          .leaf {
            @extend .fa;
            @extend .fa-caret-right;
            margin-left: 5px;
          }
        }
        
        .active {
          font-weight: bolder;
        }

        @include respond-to(max-tablets-screens) {
          ul {
            -webkit-padding-start: 8px;
          }
        }
      }
    }
  }
}