div.container-fluid
    div.row
        div.col-xs-12.col-lg-4
            div.inputs
                div.inputs_area
                    div.inputs_input
                        sv-select-input(title="{{statistics.sources.title}}", options="statistics.sources.options", name="{{statistics.sources.title}}", model="statistics.sources.chosen", change="statistics.sources.triggerNext")
                        
                    div.inputs_input(ng-repeat="input in statistics.inputs")
                        sv-select-input(title="{{input.title}}", options="input.options", name="{{input.title}}", model="input.chosen", change="input.triggerNext")
    
                    div.inputs_input(ng-repeat="variable in statistics.table.variables")
                        div(ng-if="!variable.time")
                            sv-select-input(title="{{variable.title}}", options="variable.options", name="{{variable.title}}", model="variable.chosen")
                    div.inputs_input
                        button.btn.btn-success(ng-click="statistics.series.get()") Lis채채 sarja kuvaan
                        
                div.inputs_area(ng-if="statistics.series.data.length")
                    div.title Kuvassa olevat sarjat
                    sv-removable-list(series="statistics.series.data", remove="statistics.series.remove")
            
        div.col-xs-12.col-md-8.chart_area
            div(ng-if="statistics.series.data.length")
                sv-line-chart(series="statistics.series.data")
            div(ng-if="!statistics.series.data.length")
                div.no_series_text
                    | Lis채채 sarja valikosta