html(lang="en", ng-app="statistics")
    head
        title= g_page_name
        meta(name="description", content=g_page_description)
        
        meta(name="viewport", content="width=device-width, initial-scale=1")
        
        link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css", rel="stylesheet")
        link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css", rel="stylesheet")
        link(href="/public/main.css", rel="stylesheet")
        link(href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css")
       
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js")
        script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.js")
        script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-resource.js")
        script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-route.js")
        script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js")
        script(src="/public/app.js")
        
    body
        div.top-row
            | Tilastot ja käppyrät
        div(ng-view)
        div.footer
            div.container-fluid
                div.row
                    div.col-xs-12.col-md-6.col-lg-4
                        div
                            | Sivu käyttää Tilastokeskuksen ja muiden avointa API:a.
                            | Sivun tarkoitus on helpottaa tiedon löytämistä ja hahmottamista.
                        div    
                            | Sivu on avointa lähdekoodia ja se löytyy GitHubista.