div.container
    div.well
        div.row
            div.col-xs-12.col-sm-6.col-md-4
                ghv-datalist-input(title="Choose statistics source", options="statistics.sources.options", name="sources", model="statistics.sources.chosen")
